.maps {
  margin-top: 168px;

  &__info {
    margin-left: 85px;
  }

  &__heading {
    font-family: "Fraunces";
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    color: #83888f;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 95px;
    margin-top: 72px;
  }

  &__item {
    width: 285px;
    list-style: none;
  }

  &__pic {
    margin: 0;
    padding: 0;
    margin-bottom: 45px;
  }

  &__heading__h5 {
    font-family: "Fraunces";
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    color: #333d4b;
    margin: 0;
    padding: 0;
    padding-bottom: 24px;
  }

  &__text {
    font-family: "Barlow" serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    padding: 0;
    color: #333d4b;
    padding-bottom: 10px;
    text-decoration: none;
  }
}
